body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

.desktop-only {
  display: none !important;
}

.centered-text {
  text-align: center;
}

.dflex {
  display: flex;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.background {
  width: 100%;
  background-image: url(../images/bg_0.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.active {
  display: none;
}

.ham {
  flex-direction: column;
  padding: 1.7rem;
  gap: 0.3rem;
  align-items: flex-start;
}

.bars {
  height: 0.3rem;
  width: 1.7rem;
  background-color: #272a31;
}

.intro {
  font-weight: 500;
  font-size: 1.3rem;
  color: #ec5242;
  padding-top: 2rem;
}

.about-hero {
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 20px 80px 20px;
}

.main-heading {
  align-items: center;
}

.main-heading h1 {
  font-size: 2rem;
  color: #ec5242;
  font-weight: 900;
  padding: 0 1rem 1rem 0;
  margin: 0;
}

.description {
  border: 2px solid #d3d3d3;
  padding: 16px 8px;
  background-color: #fff;
}

.description h3 {
  padding: 0.9rem;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.6rem;
  color: #272a31;
}

.contact {
  font-weight: 500;
  font-size: 0.9rem;
  color: #272a31;
  line-height: 1.4rem;
  padding: 0.4rem;
}

.email {
  font-size: 1.2rem;
  font-weight: 500;
}

.about-main {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 40px 18px;
}

.program-title h2 {
  font-weight: 600;
  text-align: center;
  font-size: 1.6rem;
  color: #272a31;
}

.program-title p {
  color: #272a31;
  font-size: 0.9rem;
  line-height: 1.4rem;
  text-align: center;
}

.line {
  width: 30%;
  height: 1px;
  background-color: #ec5242;
  margin: 1rem auto;
}

.devslogo {
  border: 1px solid #d3d3d3;
}

.past-events {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px 30px;
}

.past-images {
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.past-images h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
  text-shadow: #272a31 1px 0 10px;
}

.past-images p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: #272a31 1px 0 10px;
}

.past-card1 {
  background-image: url(../images/devcon1.jpg);
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: 5px;
  height: 200px;
}

.past-card2 {
  background-image: url(../images/devcon2.jpg);
  background-position: center;
  background-size: cover;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  grid-area: 5px;
  height: 200px;
}

.overlay {
  background-color: #ec53428d;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.overlay:hover {
  opacity: 0;
}

.sponsors {
  padding: 50px 10px;
  color: #d3d3d3;
  background-color: #272a31;
  flex-direction: column;
}

.sponsors h2 {
  font-weight: 600;
  font-size: 1.6rem;
}

.sponsors-logos {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sponsors-logos img {
  width: 5rem;
}

.footer {
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  font-size: 15px;
  gap: 10px;
}

.footer h3 {
  font-size: 15px;
  padding: 4px;
  padding-top: 15px;
}

.footer-logo img {
  width: 120px;
  height: 80px;
}

@media screen and (min-width: 768px) {
  a {
    color: #d3d3d3;
  }

  .desktop-only {
    display: flex !important;
  }

  .mobile-only {
    display: none !important;
  }

  .hamburger-menu {
    display: none;
  }

  .top-head {
    display: block !important;
    background-color: #272a31;
    padding: 8px 10px 10px 0;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
  }

  .top-head ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 25px;
    padding: 0;
    margin: 0;
  }

  .top-head ul li a {
    text-decoration: none;
  }

  .main-nav {
    justify-content: space-between;
    box-shadow: 0 8px 10px #d3d3d3;
    padding: 0 150px;
    box-sizing: border-box;
    align-items: center;
  }

  .main-nav img {
    width: 70%;
    height: 70px;
  }

  .main-nav ul {
    display: flex;
    list-style: none;
    gap: 4rem;
  }

  .main-nav ul li a {
    text-decoration: none;
    font-weight: 400;
    opacity: 0.9;
    font-size: 1.1rem;
    color: #272a31;
  }

  .background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
  }

  .about-hero {
    padding: 7rem 9rem;
    gap: 30px;
  }

  .intro {
    font-size: 2.4rem;
  }

  .main-heading h1 {
    font-size: 3.5rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  .description {
    border: 1px solid #d3d3d3;
    padding: 16px 8px;
    background-color: #fff;
    width: 80%;
  }

  .description h3 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.6rem;
    color: #272a31;
    opacity: 0.9;
  }

  .dates {
    font-weight: 900;
    font-size: 2.8rem;
    opacity: 0.8;
    margin-top: 20px;
  }

  .venue {
    font-size: 1.6rem;
    font-weight: 400;
    opacity: 0.5;
  }

  .about-main {
    padding: 50px 20px;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid #d3d3d3;
  }

  .program-title {
    font-weight: 700;
  }

  .line {
    width: 10%;
    margin: 1rem auto;
  }

  .program-title p {
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: #272a31;
    font-weight: 400;
    text-align: center;
    padding: 0 5rem 0 5rem;
  }

  .devslogo {
    margin-top: 40px;
    margin-bottom: 40px;
    margin: 25px auto 0 auto;
    height: 50%;
  }

  .past-events {
    flex-direction: column;
    gap: 5px;
    color: #272a31;
    padding: 80px 0
  }

  .past-images {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 70%;
    margin: 40px auto;
  }

  .overlay {
    height: 400px;
    width: 300px;
  }


  .past-card1 {
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  .see-program {
    color: #d3d3d3;
    font-size: 1.2rem;
  }


  .footer {
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    margin: 0;
    background-color: #272a31;
    color: #fff;
    gap: 50px;
  }

  .footer-logo img {
    height: 50px;
  }
}