body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

.desktop-only {
  display: none;
}

.centered-text {
  text-align: center;
}

.dflex {
  display: flex;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.background {
  background-image: url(../images/bg_0.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hamburger-menu {
  padding: 1.7rem;
}

.ham {
  height: 30px;
  width: 40px;
  flex-direction: column;
  gap: 0.3rem;
}

.bars {
  height: 0.3rem;
  width: 1.7rem;
  background-color: #272a31;
}

.intro {
  font-weight: 500;
  font-size: 1.3rem;
  color: #ec5242;
  padding-top: 2rem;
}

.hero {
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  padding: 20px 20px 80px 20px;
}

.main-heading h1 {
  font-size: 2rem;
  color: #ec5242;
  font-weight: 900;
  padding: 0 1rem 1rem 0;
  margin: 0;
}

.title {
  background-image: url(../images/title.jpg);
  background-clip: inherit;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.description {
  border: 4px solid #fff;
  padding: 16px 8px;
  background-color: #f7f7f8;
}

.description h3 {
  padding: 0.9rem;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.6rem;
  color: #272a31;
}

.dates {
  font-weight: 900;
  font-size: 1.5rem;
  color: #272a31;
  padding: 0.4rem;
}

.venue {
  font-size: 1.2rem;
  font-weight: 500;
}

.cards {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  background-color: #272a31;
  padding: 40px 18px;
  background-image: url(../images/program-pattern.png);
}

.program-title h2 {
  font-weight: 400;
  text-align: center;
  font-size: 1.6rem;
  color: #d3d3d3;
}

.line {
  width: 50%;
  height: 1px;
  background-color: #ec5242;
  margin: 1rem auto;
}

.program {
  flex-direction: column;
  gap: 10px;
}

.card-content {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(211, 211, 211, 0.1);
  padding: 10px;
}

.card-content img {
  width: 65px;
  height: 60px;
  flex: 0;
}

.prg-title {
  color: #ec5242;
}

.prg-1 {
  font-size: 1rem;
  font-weight: 700;
  flex: 1;
}

.program p {
  font-size: 1rem;
  flex: 2;
  line-height: 1.6rem;
  color: #d3d3d3;
}

.join {
  padding: 25px 40px;
  background-color: #ec5242;
  font-size: 1.2rem;
  color: #fff;
}

.speakers {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px 0;
}

.header h2 {
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
}

.speakers-cards {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 0 15px 0 18px;
}

.speakers-content {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.speaker-des {
  flex-direction: column;
  gap: 3px;
}

.speaker-des h3 {
  font-weight: 900;
  font-size: 1rem;
}

.career {
  font-style: italic;
  font-size: 0.8rem;
  font-weight: 500;
  color: #ec5242;
}

.seperator {
  background-color: #d3d3d3;
  width: 30%;
  height: 3px;
}

.work {
  font-size: 0.75rem;
  line-height: 1.1rem;
}

.sponsors {
  padding: 50px 10px;
  color: #d3d3d3;
  background-color: #272a31;
}

.sponsors h2 {
  font-weight: 600;
  font-size: 1.6rem;
}

.sponsors-logos {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sponsors-logos img {
  width: 5rem;
}

.footer {
  justify-content: center;
  gap: 10px;
  padding: 0.3rem;
  border: 1px solid #d3d3d3;
  margin: 10px;
}

.more {
  font-size: 0.9rem;
  color: #272a31;
  font-weight: 300;
  justify-content: center;
  align-items: center;
}

.more-btn {
  transform: rotate(-90deg);
  color: #ec5242;
  font-size: 2rem;
  font-weight: 900;
  font-style: bold;
}

.display-more {
  display: none;
}