body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,
h2,
h3 {
    padding: 0;
}

.desktop-only {
    display: none;
}

.dflex {
    display: flex;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.background {
    background-image: url(../images/bg_0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ham {
    flex-direction: column;
    padding: 1.7rem;
    gap: 0.3rem;
    align-items: flex-start;
}

.bars {
    height: 0.3rem;
    width: 1.7rem;
    background-color: #272a31;
}

.intro {
    font-weight: 500;
    font-size: 1.3rem;
    color: #ec5242;
    padding-top: 2rem;
}

.hero {
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    padding: 20px 20px 80px 20px;
}

.main-heading h1 {
    font-size: 2rem;
    color: #ec5242;
    font-weight: 900;
    padding: 0 1rem 1rem 0;
    margin: 0;
}

.title {
    background-image: url(../images/title.jpg);
    background-clip: inherit;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.description {
    border: 4px solid #fff;
    padding: 16px 8px;
    opacity: 0.9;
    background-color: #f7f7f8;
}

.description h3 {
    padding: 0.9rem;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.6rem;
    color: #272a31;
}

.dates {
    font-weight: 900;
    font-size: 1.5rem;
    color: #272a31;
    padding: 0.4rem;
}

.venue {
    font-size: 1.2rem;
    font-weight: 500;
}

.cards {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    background-color: #272a31;
    padding: 40px 18px;
    background-image: url(../images/program-pattern.png);
}

.card-content {
    flex-direction: row;
    gap: 5px;
    padding: 5px;
    opacity: 0.1;
    color: red;
    background-color: #d3d3d3;
}