body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desktop-only {
    display: none;
}

.dflex {
    display: flex;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.ham {
    flex-direction: column;
    width: 100vw;
    padding: 1.7rem;
    gap: 0.3rem;
    align-items: flex-start;
}

.bars {
    height: 0.4rem;
    width: 2.5rem;
    background-color: #272a31;
}

.intro {
    font-weight: 400;
    font-size: 2rem;
    color: #ec5242;
    padding-left: 1rem;
    padding-top: 2rem;

}



h2 {
    font-family: 'Lato', sans-serif;
}

.pattern {
    font-family: 'Lato', sans-serif;
    height: 50vh;
    background-color: #272020;
    opacity: 0.9;
    background-image: linear-gradient(135deg, #131317 25%, transparent 25%), linear-gradient(225deg, #131317 25%, transparent 25%), linear-gradient(45deg, #131317 25%, transparent 25%), linear-gradient(315deg, #131317 25%, #272020 25%);
    background-position: 19px 0, 19px 0, 0 0, 0 0;
    background-size: 19px 19px;
    background-repeat: repeat;
}