body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,
h2,
h3 {
    padding: 0;
}

.desktop-only {
    display: none;
}

.dflex {
    display: flex;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.ham {
    flex-direction: column;
    padding: 1.7rem;
    gap: 0.3rem;
    align-items: flex-start;
}

.bars {
    height: 0.4rem;
    width: 2.5rem;
    background-color: #272a31;
}

.intro {
    font-weight: 400;
    font-size: 1.5rem;
    color: #ec5242;
    padding-top: 1rem;

}

.hero {
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
    padding: 1rem;
}

.main-heading h1 {
    font-size: 2rem;
    color: #ec5242;
    font-weight: 900;
    padding: 0 1rem 1rem 0;
    margin: 0;
}

.background {
    background-color: #d3d3d3;
}

.description {
    border: 2px solid #fff;
}

.description h3 {
    padding: 0.5rem;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.2rem;
}

.dates {
    font-weight: 900;
    font-size: 22px;
    font-style: bold;
    padding: 0.4rem;
}

.venue {
    font-size: 18px;
}

.cards {
    align-items: center;
    gap: 10px;
    flex-direction: column;
    color: #fff;
    background-color: #131518;
    opacity: 0.9;
    background: radial-gradient(circle, transparent 20%, #131518 20%, #131518 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #131518 20%, #131518 80%, transparent 80%, transparent) 20px 20px, linear-gradient(#010101 1.6px, transparent 1.6px) 0 -0.8px, linear-gradient(90deg, #010101 1.6px, #131518 1.6px) -0.8px 0;
    background-size: 40px 40px, 40px 40px, 20px 20px, 20px 20px;
}

.card-content {
    flex-direction: row;
    gap: 5px;
    padding: 5px;
    opacity: 0.1;
    color: red;
    background-color: #d3d3d3;
}